.core-section {
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.title {
  color: pink;
  border-radius: 0.6rem;
  text-align: center;
  width: 70%;
  background-color: white;
  padding: 1.5rem;
  border: none;
}

.select-quiz-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 576px) {
  .title {
    width: 100%;
  }
}
